/*layou*/
$mobile: 375px;
$desktop: 1440px;

/*primarios*/
$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);

/*neutrales*/

$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);

$black: #000;
$white: #fff;

/*Body copy*/
$font-size: 1.8rem;

/*Fuente Principal*/
$FuentePrincipal: 'Bai Jamjuree', sans-serif;
$font-principal: 400;
$font-secundario: 600;

