html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $FuentePrincipal;
    font-size: $font-size; //18px 1.8rem
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}
